// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-yellow: #F6F6E5;
$warm-pink: #e86d6d;
$dark-warm-pink: #e05555;
$star-yellow : #F8E089;
$dark-blue: #003350;
$warm-beige: #F4DDBB;
