<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="my-4">Modifiez l'ingrédient</h1>

      <%= simple_form_for @ingredient do |f| %>
        <%= f.input :name, label: "Nom de l'ingrédient" %>
        <%= f.input :description %>
        <div class="button-container">
          <%= f.button :submit,"Ajoutez un nouvel ingrédient", class: 'pink-button' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
