<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="my-4">Ajoutez un ingrédient à votre recette</h1>

      <%= simple_form_for [@recipe, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <div class="button-container">
          <%= f.button :submit, class: 'pink-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
