<div class="home-banner" style="background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://cdn.dribbble.com/users/1426840/screenshots/12019984/media/e57f7d19d88e91f22f9944f86804e20e.png);">

    <div class="discover-recipes">
      <%= link_to "Découvrez nos recettes", recipes_path, class: "pink-button"%>
    </div>

  </div>
</div>


