
body {
  overflow-x: hidden;
}

.bg {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 700px;
}


.see {
  display: none;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


p {
  position: relative;
  margin: auto;
  width: 100%;
  line-height: 1em;
}


.reload {
  z-index: 999;
  position: fixed;
  padding: 10px;
  margin: 15px;
  background-color: #1D1F20;
  color: #fff;
  @include transition;
  box-shadow: 1px 1px 5px #000;

  &:hover {
    cursor: pointer;
    background-color: lighten(#1D1F20,10%);
    }
  }



.refresh {
  position: relative;
  margin: 0 5px;
}

// 404 Sample 4

.bg-img4 {
  @extend .bg-img;
  float: right;
  width: 50%;
  height: 100%;
  background-image: url("http://bbsimg.ngfiles.com/1/25280000/ngbbs545547f341b6a.png");
  background-size: 300px;
  background-color: #4DADD6;
}

.text {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #08638A;
}

p, button {
  font-family: 'Amatic SC', cursive;
  color: #fff;
  top: 50px;
}


button {
  position: relative;
  @extend .third-text;
  background-color: #08638A;
  border: 1px solid #D71736;
  border-radius: 2px;
  margin: 15px 0;
  padding: 15px;
  @include transition;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #D71736;
    }
 }

