.ingredient-main {
  width: 100%;
}

.image-main {
  background-position: center;
  height: 55vh;
  margin-top: 0px;
  margin-bottom: 1em;
}

.ingredients-title {
  color: $warm-pink;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
  margin-top: 24px;
}

.ingredients-subtitle {
  color: black;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.ingredients {
  color: black;
  font-size: 16px;
    &:hover {
    font-style: bold;
    text-decoration: none;
    color: $warm-pink;
  }
}

li {
  font-family: "Nunito", "Helvetica", "sans-serif";
}

@media (max-width: 1120px){
  .image-main {
    background-size: cover;
    // background-position: center;
    height: 40vh;
    margin-top: 0px;
    margin-bottom: 1em;
  }

}

@media (max-width: 992px){

  .image-main {
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin-top: 0px;
    margin-bottom: 1em;
  }

}


@media (min-width: 100px) and (max-width: 575px){
  .image-main {
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin-top: 0px;
  margin-bottom: 1em;
  }

  .ingredients-title {
  color: $warm-pink;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 1.2;
  margin-top: 24px;
  }

  .ingredients-subtitle {
  color: black;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 24px;
  font-style: italic;
  text-align: center;
  }

}
