.home-banner {
  height: 90vh;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0px;
  padding: 80px 0;
}

.discover-recipes {
  display: flex;
  justify-content: flex-start;
  margin-top: 22vh;
  margin-left: 5%;
  margin-right: 5%;
}

