.home-banner {
  height: 90vh;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0px;
  padding: 80px 0;
}

.discover-recipes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
}

.home-banner h1 {
  margin-bottom: 60px;
}

.pink-text {
  color: $warm-pink;
}
