.image-main-recipes {
  // background-size: cover;
  // background-position: center;
  height: 55vh;
  margin-top: 0px;
  margin-bottom: 1em;
}

.title-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 20px;
}


h2.index-title {
  font-size: 48px;
  font-weight: bold;
  padding: 32px;
  text-align: center;
  margin-bottom: 0!important;
  color: $warm-pink;
  margin-top: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-container {
  display:flex;
  justify-content: center;
}

.card {
  position:relative;
  background-size: cover;
  background-position: center;
  height: 260px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 16px;
  color: white;
  opacity: 0.95;
    &:hover {
      opacity:1;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}

.diet-icon-container {
  display:flex;
  position:absolute;
  bottom: 8px;
  left: 24px;
  margin-bottom: 10px;
}

.diet-icon-index {
  margin-right: 10px;
  width: 26px;
  }


.round-card {
  background-size: cover;
  background-position: center;
  height: 260px;
  width: 260px;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  display: flex;
  opacity: 0.8;
  &:hover {
    opacity:1;
  }
}



.card-title {
  color: white;
  font-size: 24px;
  margin-top: 24px;
  text-align: center;
  text-shadow: 0.3px 0.3px black;
  &:hover {
    color: $dark-warm-pink;
    opacity: 1;
  }
}

.card-title-add {
  color: black;
  font-size: 20px;
  margin-bottom: 133px;
  text-align: center;
  text-shadow: 0.3px 0.3px white;
  &:hover {
    color: $dark-warm-pink;
    opacity: 1;
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 40px;
  margin: 1em;
  flex-grow: 1;
}

@media (max-width: 1120px){
  .image-main-recipes {
    background-size: cover;
    background-position: center;
    height: 45vh;
    margin-top: 0px;
    margin-bottom: 1em;
    margin-top: 16px;
  }
}

@media (max-width: 992px){

  .image-main-recipes {
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin-top: 0px;
    margin-bottom: 1em;
  }
  .cards-grid {
    grid-template-columns: repeat(2,1fr);
  }

  h2.index-title {
    color: $warm-pink;
    font-size: 40px;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    margin-bottom: 0!important;
    margin-top: 16px;
  }
}


@media (min-width: 100px) and (max-width: 575px){
  .image-main-recipes {
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin-top: 0px;
  margin-bottom: 1em;
  }
  .cards-grid  {
      grid-template-columns: 1fr;
    }
  h2.index-title {
    color: $warm-pink;
    font-size: 32px;
    font-weight: bold;
    padding: 24px;
    text-align: center;
    margin-bottom: 0!important;
    margin-top: 16px;

  }

}
