

.recipe-elements-container {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 8vw;
}

.recipe-ingredients {
  padding: 24px;
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  color: white;
  margin-top: 24px;

}



a:hover{
  text-decoration: none;
}
.add-recipe {
  color: $warm-pink;
  margin-top: 24px;
}

.add-recipe:hover{
  color: $dark-warm-pink;
  font-style: bold;
}


.recipe-description {
  padding: 0 24px;
}

.recipe-steps {
  margin-left: 20px;
  padding-left:5px;
}

@media (min-width: 415px){
  #show-banner {
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    height: 80vh;
    #form {
      background: white;
      padding: 2em 3em;
      box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
      border-radius: 8px;
      input {
        font-weight: bold;
      }
    }
  }

  #show-banner h1 {
    font-size:48px;
    color:white;
    text-shadow: 1px 1px 15px black;
  }

  .recipe-title {
    font-size: 40px;
    margin-bottom: -12px;
  }

  .recipe-items {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .recipe-information {
    padding: 40px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px;
    color: white;
    width: 450px;
    margin-top: 10px;
  }

  .recipe-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .recipe-category-title {
  margin-top: 24px;
  padding: 24px;
  }
}


@media (max-width: 414px) {
  #show-banner {
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    height: 80vh;
    #form {
      background: white;
      padding: 2em 3em;
      box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
      border-radius: 8px;
      input {
        font-weight: bold;
      }
    }
  }

  #show-banner h1 {
    font-size:48px;
    color:white;
    text-shadow: 1px 1px 15px black;
  }

  .recipe-title {
    font-size: 40px;
    margin-bottom: -12px;
  }

  .recipe-items {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .recipe-information {
    padding: 40px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px;
    color: white;
    width: 450px;
    margin-top: 10px;
  }

  .recipe-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .ingredient-title {
  font-size: 24px;
  margin-bottom: 28px;
  }

  .recipe-category-title {
   font-size: 22px;
   margin: 28px 0 !important;
  }
}

@media (max-width: 359px) {
  #show-banner {
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    height: 80vh;
    #form {
      background: white;
      padding: 2em 3em;
      box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
      border-radius: 8px;
      input {
        font-weight: bold;
      }
    }
  }

  #show-banner h1 {
    font-size:48px;
    color:white;
    text-shadow: 1px 1px 15px black;
  }

  .recipe-title {
    font-size: 28px;
  }

  .recipe-items {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .recipe-information {
    padding: 24px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px;
    color: white;
    width: 450px;
  }

  .star-recipe-information {
  font-size: 16px;
  margin-top: 5px;
  }

  .recipe-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .ingredient-title {
  font-size: 24px;
  margin-bottom: 5px;
  }

  .recipe-category-title {
   font-size: 22px;
   padding: 28px 0;
  }
}






