
.review-box {
  background-color: white;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  list-style:none;
}

.review-user {
  display:flex;
  justify-content: flex-end;
  font-style: italic;
}

.review-rating-comments {
  display:flex;
  justify-content: flex-start;

}



