.signup {
  height: 100vh;
  object-fit: cover;
  color: white;
  margin: 0px;
}


.signup-form {
  background-color:white;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 25px 5px;
}

.signup h3 {
  text-align: center;
  color: black;
}

