.star-rating {
  color: $star-yellow;
  margin-right: 4px;
}

.margin-half-star {
  margin-left: -3px;
}


@media (min-width: 415px){

}


@media (max-width: 414px) {

}

@media (max-width: 359px) {

}
